{% extends 'base.html.twig' %}

{% block title %}Inscription entreprise{% endblock %}

{% block body %}
    <section>
        <h1>Creer un compte entreprise</h1>
        {{ form_start(form) }}
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword) }}
            {{ form_row(form.companyName) }}
            {{ form_row(form.description) }}
            {{ form_row(form.website) }}
            {{ form_row(form.city) }}
            {{ form_row(form.sector) }}
            {{ form_row(form.companySize) }}
            <button class="btn">Creer le compte</button>
        {{ form_end(form) }}
    </section>
{% endblock %}

