{% extends 'base.html.twig' %}

{% block title %}Modérer l'offre{% endblock %}

{% block body %}
    <section>
        <h1>Modérer : {{ offer.title }}</h1>
        {{ form_start(form) }}
            {{ form_row(form.decision) }}
            {{ form_row(form.reason) }}
            {{ form_row(form.reviewer) }}
            <button class="btn">Enregistrer</button>
        {{ form_end(form) }}
        <p><a href="{{ path('offer_show', {id: offer.id}) }}">Retour</a></p>
    </section>
{% endblock %}
