{% extends 'base.html.twig' %}

{% block title %}{{ company.name }}{% endblock %}

{% block body %}
    <h1>{{ company.name }}</h1>

    <p><strong>Points d impact :</strong> {{ impactPointsBalance }}</p>

    {% if company.description %}
        <p>{{ company.description }}</p>
    {% else %}
        <p><em>Aucune description.</em></p>
    {% endif %}

    <p>
        <a href="{{ path('company_index') }}">Retour a la liste</a>
    </p>
{% endblock %}
